
/* main */
.mv_wrap{position:relative;}
.swiper-container.main_visual_container{}
.swiper-container.main_visual_container .swiper-wrapper{}
.swiper-container.main_visual_container .swiper-slide{}
.main_visual_banner{display:block;}
.main_visual_banner > img{width:100%;vertical-align: top;}
.mv_layer{position:absolute;bottom:15px;left:10px;z-index:10;}
.mv_paging_link{color:#fff;display:inline-flex;font-weight:350;padding:7px 13px;border-radius:100px;align-items: center;font-size:0;line-height:0;background:rgba(0,0,0,.3);}
.mv_paging_link *{display:inline-block;line-height:1;vertical-align: middle;}
.mv_paging_current{font-size:14px;}
.mv_paging_part{font-size:10px;padding:0 3px;}
.mv_paging_length{font-size:14px;}
.mv_paging_more_icon{font-size:16px;margin-left:5px;}
.mc_wrap{padding-bottom:30px;}
.mc_quickmenu_list_wrap{padding:12px 20px;}
.mc_quickmenu_list{display:flex;flex-wrap:wrap;}
.mc_quickmenu_list > li{flex:0 0 25%;padding:10px 0;}
.mc_quickmenu{display:block;}
.mc_quick{font-size:13.5px;color:#333333;display:block;text-align: center;}
.mc_quickmenu:before{display:block;content:'';width:55px;height:55px;background:url("../images/icon_mc_quick.png") no-repeat 0 0/100% auto;margin:0 auto;}
.mc_quickmenu.ico_mc01:before{background-position:0 0;}
.mc_quickmenu.ico_mc02:before{background-position:0 -55px;}
.mc_quickmenu.ico_mc03:before{background-position:0 -110px;}
.mc_quickmenu.ico_mc04:before{background-position:0 -165px;}
.mc_quickmenu.ico_mc05:before{background-position:0 -220px;}
.mc_quickmenu.ico_mc06:before{background-position:0 -275px;}
.mc_quickmenu.ico_mc07:before{background-position:0 -330px;}
.mc_quickmenu.ico_mc08:before{background-position:0 -385px;}

.mc_customer_box{margin:0 20px;border:1px solid #cdcdcd;border-radius:9px;padding:20px;}
.mc_customer_num_row{display:flex;justify-content: space-between;}
.mc_customer_num_row:after{display:block;content:'';width:19px;height:26px;background:url("../images/icon_customer.png") no-repeat 0 0/100% auto;flex:0 0 19px;}
.mc_customer_group{}
.mc_customer_label{font-size:16px;color:#2b2b2b;line-height:1;font-weight:500;}
.mc_customer_number{font-size:27.5px;color:#000000;line-height:1;font-weight:700;font-family: 'Open Sans','Noto Sans KR';margin-top:10px;}
.mc_customer_tail_row{display:flex;justify-content: space-between;align-items: center;margin-top:20px;}
.mc_customer_copy_group{font-size:13px;color:#333333;}
.mc_cuskeyvalue_item{display:flex;flex-wrap:wrap;}
.mc_cuskey{line-height:1;}
.mc_cusvalue{line-height:1;font-weight:700;margin-left:5px;}
.mc_customer_copy{margin-top:5px;}
.btn_quad_box{display:inline-block;color:#fff;font-size:13px;font-weight:500;background:#1a2e46;border-radius:100px;line-height:1;padding:10px 20px;white-space: nowrap;}

.mv_wrap .nodata-slide .nodata_para{padding:0 20px;height:420px;display:flex;align-items:center;justify-content:center;box-sizing: border-box;background:#f6f6f6;}
.mv_wrap .nodata-slide,
.mc_wrap .nodata-slide{width:100% !important;}
.mc_wrap .nodata_para{text-align: center;padding:100px 20px;}
.mc_linkage_zone{padding:20px 0 30px;}
.mc_emp{background:#f6f6f6;}
.mc_linkage_title_row{margin-bottom:20px;padding:0 20px;}
.mc_linkage_title{font-size:16px;color:#2b2b2b;font-weight:700;line-height:1;}
.mc_linkage_content_row{}
.swiper-container.mc_thum_container{}
.swiper-container.mc_thum_container .swiper-wrapper{}
.swiper-container.mc_thum_container .swiper-slide{}

.swiper-pagination.mc_paging{position:static;font-size:0;line-height:0;margin-top:20px;}
.swiper-pagination.mc_paging .swiper-pagination-bullet{margin:0 3px;width:8px;height:8px;background:#d2d2d2;opacity:1;}
.swiper-pagination.mc_paging .swiper-pagination-bullet.swiper-pagination-bullet-active{background:#4e4e4e;}

.list_thum_obj{margin:0 20px 15px 20px;}
.list_thum_img_row{position:relative;overflow:hidden;height:126px;border-radius:18px 18px 0 0;display:block;}
.list_thum_img_row > img{display:block;vertical-align: top;position:absolute;top:0;left:0;width:100%;height:100%;transform:scale(1.0);transition:.5s;object-fit: cover; object-position:50% 50%;}
.list_thum_img_row:hover > img{transform:scale(1.2);}
.list_thum_spec_row{background:#fff;border:1px solid #e8e8e8;border-top:0;border-radius:0 0 19px 19px;}
.list_thum_spec_group{display:block;padding:20px 20px 0;}
.list_thum_spec_main,
.list_thum_spec_sub{white-space: nowrap;font-weight:500; text-overflow: ellipsis;overflow:hidden;position:relative; max-width:99%;}
.list_thum_spec_main{font-size:13px;color:#2b2b2b;}
.list_thum_spec_sub{font-size:11px;color:#999999;margin-top:5px;}
.list_thum_spec_else_both{padding: 12px 20px 20px;display:flex;align-items: center;justify-content: space-between;}
.btn_list_control_group{display:inline-block;font-size:0;line-height:0;}

.thum_spec_price{font-size:14px;font-weight:700;color:#2b2b2b;line-height:1;}
.btn_list_thumbox{display:inline-block;font-size:13px;color:#c20000;border:1px solid #c20000;line-height:1;padding:8px 15px 9px;border-radius:100px;}
.btn_list_thumbox.define_toggle{
    border-color:#acacac;font-size:13px;padding:8px 30px 9px 15px;color:#333333;position:relative;
}
.btn_list_thumbox.define_toggle:after{display:block;content:'';width:8px;height:8px;border-right:1px solid #8e8e8e;border-bottom:1px solid #8e8e8e;
    transform:translateZ(0) rotate(45deg);position:absolute;top:8px;right:13px;
}
.btn_list_thumbox.define_toggle.expand:after{
    transform:translateZ(0) rotate(225deg);top:13px;
}
.btn_list_thumbox[data-toggle].hidden{display:none;}
.list_thum_obj:last-of-type{margin-bottom:0;}

.list_thum_spec_spot{display:flex;align-items:center;margin-bottom:13px;}
.list_thum_spec_spot:after{display:block;content:'';width:8.5px;height:10px;background:url("../images/icon_pin.png") no-repeat 0 0/100% auto;margin-left:5px;flex: 0 0 8.5px;}
.list_thum_spec_spot_text{display:block;min-width:0;font-size:14px;color:#4e4e4e;white-space: nowrap;line-height:1;font-weight:500; text-overflow: ellipsis;overflow:hidden;position:relative; max-width:99%;}
.list_thum_obj.type2{width:270px;box-sizing: border-box;margin:0;border-radius:10px;
    -webkit-box-shadow: 1px 1px 11px -1px rgba(0,0,0,0.15); 
    box-shadow: 1px 1px 11px -1px rgba(0,0,0,0.15);
}
.list_thum_obj.type2 .list_thum_img_row{height:145px;border-radius:10px 10px 0 0;}
.list_thum_obj.type2 .list_thum_spec_row{border-radius:0 0 11px 11px;}
.list_thum_obj.type2 .list_thum_spec_sub{margin-top:0;}

.mc_linkage02_zone{padding:40px 0;}
.mc_linkage02_zone.type2{padding-bottom:20px;}
.mc_linkage02_title_row{margin-bottom:15px;padding:0 20px;}
.mc_linkage02_title{font-size:16px;color:#2b2b2b;font-weight:700;line-height:1;}

.swiper-container.mc_product_container{padding:0 20px 0 20px;}
.swiper-container.mc_product_container .swiper-wrapper{}
.swiper-container.mc_product_container .swiper-slide{width:auto;height:auto;}

.mc_media_item_zone{background-repeat:no-repeat;background-size:cover;background-position:50% 100%;padding:20px;}
.mc_media_title_row{margin-bottom:15px;}
.mc_media_title{font-size:16px;color:#fff;font-weight:500;line-height:1;}
.mc_media_content_row{}
.mc_media_item{display:block;overflow:hidden;position:relative;border-radius:18px;}
.mc_media_item:after{display:block;content:'';width:23px;height:23px;background:url("../images/icon_play.png") no-repeat 0 0/100% auto;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}
.mc_media_text_group{z-index:2;background:rgba(0,0,0,.2);position:absolute;top:0;left:0;width:100%;box-sizing: border-box;padding:10px 15px 12px;}
.mc_media_text{color:#fff;font-size:14px;line-height:1;margin-bottom:5px;white-space: nowrap;line-height:1; text-overflow: ellipsis;overflow:hidden;position:relative; max-width:99%;}
.mc_media_text:last-of-type{margin-bottom:0;}
.mc_media_img_wrap{position:relative;padding-bottom:62.5%;height:0;}
.mc_media_img_wrap > img{transition:.5s;transform:scale(1.0);position:absolute;top:0;left:0;width:100%;height:100%;object-fit: cover;object-position:50% 50%;}
.mc_media_item:hover .mc_media_img_wrap > img{transform:scale(1.2);}




.swiper-container.youtube_swiper{padding-bottom:20px;}
.swiper-container.youtube_swiper .swiper-wrapper{width:auto;height:auto;}
.swiper-container.youtube_swiper .swiper-slide{width:auto;height:auto;}

.media_thum_item{display:block;background:#fff;min-width:0;position:relative;width:270px;border-radius:20px;margin:0 auto;
    -webkit-box-shadow: 1px 1px 11px -1px rgba(0,0,0,0.15); 
    box-shadow: 1px 1px 11px -1px rgba(0,0,0,0.15);
}
.media_thum_row{height:160px;position:relative;background:#ddd;border-radius:20px 20px 0 0;overflow:hidden;}
.media_thum_row > iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
.media_spec_row{padding:15px 15px 17px;display:block;border:1px solid #dcdcdc;border-top:0;border-radius:0 0 20px 20px;}
.media_spec_text{font-size:14px;color:#2b2b2b;text-overflow: ellipsis; display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;line-height:1.4;overflow:hidden;}

/* // main */


/* sub */
.middle_wrap.sub_middle{padding:23px 20px 80px;box-sizing: border-box;}
.sort_form_both{display:flex;align-items: center;margin-bottom:22.5px;}
.sort_form_long{flex:1;min-width:0;display:flex;align-items: center;}
.sort_form_cell{flex:1;margin-right:14px;}
.sort_form_cell .form_select{}
.sort_form_cell:last-of-type{}

/* 221031 추가 */
.sort_form_both_group{margin-bottom:22.5px;}
.sort_form_both_group .sort_form_both{margin-bottom:10px;}
.sort_form_both.type2{justify-content: space-between;}
.sort_form_both_group .sort_form_both:last-of-type{margin-bottom:0;}
.sort_form_cols{}
.sort_form_cols:last-of-type{}
.count_num_item{font-size:14px;}
.count_num_current{color:#c20000;font-weight:500;}
/* // 221031 추가 */


.form_select{}
.form_select{font-family: 'Noto Sans KR';height:32px;border:0;width:100%;border-bottom:1px solid #d4d4d4;color:#333333;box-sizing: border-box;font-size:14px;padding: 0 33px 0 7px;border-radius:0;-webkit-border-radius:0;
    background: #fff url("../images/icon_select.png") no-repeat 100% 50%/22.5px auto;line-height:1;-webkit-appearance:none;-moz-appearance:none;appearance:none;
}
.form_select.active{color:#2b2b2b;}
.form_select::-ms-value {background: none; color:#2b2b2b;}
.form_select::-ms-expand {display: none;}
.form_select:focus{border-color:#f3604d;}
.sort_form_short{flex:0 0 33%;}

.data_vitem_list_wrap{}
.data_vitem_list{}
.data_vitem_list > li.nodata_li{padding:100px 20px;text-align: center;}
.data_vitem_list > li.nodata_li .nodata_para{text-align: center;}
.data_vitem_list > li{margin-bottom:14px;}
.data_vitem_list > li:last-of-type{margin-bottom:0;}
.data_vitem_list .list_thum_obj{margin:0;}
.data_vitem_list .list_thum_img_row{}
.data_vitem_list .list_thum_spec_row{}
.data_vitem_list .author_logo_wrap{margin-top:10px;}
.data_vitem_list .list_thum_spec_else_both{}
.data_vitem_list .thum_spec_price{}
.data_vitem_list .btn_list_thumbox{}
.spec_item_both{display:flex;padding:20px 20px 0;}
.spec_item_both .list_thum_spec_sub{margin-top:3px;}
.spec_item_both .btn_likeitem{flex:0 0 18px;margin-left:10px;}
.spec_item_both .list_thum_spec_group{flex:1;min-width:0;padding:0;}
.btn_likeitem{display:inline-block;width:18px;height:18px;border:1px solid #bdbdbd;border-radius:100%;background:url("../images/icon_like.png") no-repeat 0 0/100% auto;}
.btn_likeitem.active{background-position:0 100%;border-color:#c40909;}

.author_logo_wrap{display:flex;align-items: center;margin:0 20px;font-size:0;line-height:0;}
.author_logo{width:14px;flex:0 0 14px;}
.author_logo > img{vertical-align: middle;object-fit: contain;max-width:100%;position:relative;top:1px;}
.author_text{font-size:12px;color:#2b2b2b;line-height:1;margin-left:5px;white-space: nowrap; text-overflow: ellipsis;overflow:hidden;position:relative; max-width:99%;}


.list_option_zone{margin:14px -20px 0;position:relative;height:0;overflow:hidden;padding:0 20px;}
.list_option_zone.active{height:auto;}
.hor_scroll_calendar_box{border:1px solid #dadada;border-radius:8px;}
.calenar_title_row{padding:17px 0;border-bottom:1px solid #e7e7e7;text-align: center;display:flex;justify-content: center;align-items: center;font-size:0;line-height:0;}
.btn_calendar_title_control{display:block;width:17px;height:17px;border:1px solid #cfd0d3;border-radius:100%;flex:0 0 17px;margin:0 10px;position:relative;}
.btn_calendar_title_control:after{
	display:block;content:'';width:4px;height:4px;border-left:1px solid #707070;border-bottom:1px solid #707070;position:absolute;top:5px;left:6px;
	transform: translateZ(0) rotate(45deg);
}
.btn_calendar_title_control.prev_title_control{}
.btn_calendar_title_control.next_title_control:after{
	transform: translateZ(0) rotate(225deg);left:4px;
}
.calendar_current{font-size:15px;color:#1b1b1b;font-weight:500;}
.calendar_content_row{padding:15px 0;position:relative;}
.btn_calendar_content_control{display:block;z-index:5;background-color:#fff;width:20px;height:20px;border:1px solid #c7c7c7;border-radius:100%;flex:0 0 20px;position:absolute;top:50%;transform: translateY(-50%);}
.btn_calendar_content_control:after{
	display:block;width:5px;height:5px;border-left:1px solid #2a2a2a;border-bottom:1px solid #2a2a2a;content:'';position:absolute;top:6px;left:7px;
	transform: translateZ(0) rotate(45deg);
}
.btn_calendar_content_control.prev_content_control{left:-10.5px;}
.btn_calendar_content_control.next_content_control{right:-10.5px;}
.btn_calendar_content_control.next_content_control:after{
	transform: translateZ(0) rotate(225deg);left:5px;
}
.calendar_content{margin:0 10px;}
.calendar_week_tr{display:flex;justify-content: center;text-align: center;}
.calendar_week_tr.title_row{}
.calendar_week_cell{flex:1;text-align: center;}
.calendar_week_cell.sun{}
.calendar_week_cell.sun .calendar_thtext{color:#d13249;}
.calendar_week_cell.sat{}
.calendar_week_cell.sat .calendar_thtext{color:#0068c8;}
.calendar_thtext{display:inline-block;font-size:13px;color:#333333;line-height:1;}
.calendar_tdtext{font-size:13px;color:#4e4e4e;display:flex;width:28px;height:28px;justify-content: center;align-items: center;margin:0 auto;line-height:1;box-sizing: border-box;}
.calendar_tdtext.emp_date{color:#fff;border-radius:100%;background:#c20000;}
.calendar_week_tr.content_row{}
.calendar_week_cell{}
.calendar_week_cell.sun{}
.calendar_week_cell.sun .calendar_tdtext{color:#d13249;}
.calendar_week_cell.sat{}
.calendar_week_cell.sat .calendar_tdtext{}
.calendar_tdelse{font-size:14px;color:#6d6c6c;margin-top:5px;text-align: center;}

.option_top_both{display:flex;justify-content: space-between;margin:17px 0 10px;align-items: center;}
.option_top_cols{}
.option_top_cols .bosrd_current_para{}
.option_top_cols .bosrd_current_para strong{}
.option_top_cols:last-of-type{}
.btn_option_toggle_item{}
.option_sort{
	color:#4e4e4e;font-family: 'Noto Sans KR';font-size:15px;border:1px solid #ccc;height: 38px;padding:0 36px 1px 15px;border-radius:100px;-webkit-border-radius:100px;box-sizing:border-box;
    background: #fff url("../images/sub/ico_option_allow.png") no-repeat 100% 50%/28px auto;line-height: 1;-webkit-appearance:none;-moz-appearance:none;appearance:none;
}
.option_sort::-ms-value {background: none; color:#4e4e4e;}
.option_sort::-ms-expand {display: none;}
.option_thumitem_list_wrap{margin-top:15px;}
.option_thumitem_list{}
.option_thumitem_list > li{margin-bottom:15px;}
.option_thumitem_list > li:last-of-type{margin-bottom:0;}
.option_thumitem{border:1px solid #dadada;border-radius:10px;display:block;padding:15px 20px;}
.option_spec_group{min-width:0;}
.option_spec_kind_row{}
.ing_current_text{font-size:13px;color:#c20000;line-height:1;white-space: nowrap;border-radius:100px;padding: 5px 10px 6px;border:1px solid #e95656;display:inline-block;}
.option_spec_title_row{margin-top:10px;}
.option_spec_title{font-size:13px;color:#1b1b1b;font-weight:500;white-space: nowrap; text-overflow: ellipsis;overflow:hidden;position:relative; max-width:99%;display:block;}
.option_spec_else_row{margin-top:7px;}
.option_spec_else_row .ico_guidetext{}
.option_spec_else_row .author_logo_wrap{margin-left:0;}
.option_short_group{flex:0;display:flex;align-items: center;white-space: nowrap;margin-top:15px;justify-content: space-between;}
.option_short_group > *{margin-right:30px;}
.option_short_group > *:last-child{margin-right:0;}
.board_spec_price{font-size:14px;color:#c20000;font-weight:600}
.option_thumitem_list .author_logo_wrap{margin-top:8px;}

.ico_guidetext{position:relative;display:flex;align-items: center;}
.ico_guidetext[class*="ico_"]:before{display:block;content:'';width:15px;height:15px;margin-right:7px;background:url("../images/common/ico_text_calendar.png") no-repeat 0 0/100% auto;}
.ico_guidetext_in{font-size:13px;color:#2b2b2b;line-height:1.3;white-space: nowrap; text-overflow: ellipsis;overflow:hidden;position:relative; max-width:99%;}
.ico_guidetext.ico_calender:before{}
.ico_guidetext_initem{font-size:13px;color:#4e4e4e;line-height:1;display:inline-block;position:relative;top:-1px;word-break: keep-all;}
.ico_guidetext_initem br{display:none;}
.ico_guidetext_allow{display:inline-block;width:16px;flex:0 0 16px;background:url("../images/common/ico_textallow.png") no-repeat 50% 50%/16px auto;height:7px;position:relative;top:-1px;margin:0 5px;}
.btn_quadobj{display:inline-block;color:#fff;background:#ffffff;border-radius:100px;padding:8px 15px 9px;line-height:1;font-size:13px;background:#c20000;}

@media (max-width:374px){
	.ico_guidetext_initem{font-size:12px;}
}

@media (max-width:359px){
	.ico_guidetext_initem{word-break: break-all;flex: 0 0 33%;background-size:25px auto;}
	.form_select{font-size:13px;padding-right:25px;}
}
/* // sub */


/* pagination */
.paging_z{position:relative;}
.paging_layer_right{position:absolute;top:-6px;right:0;}
.paging_layer_right .btn_submit{margin: 0 0 0 5px;}
.pagination {text-align: center;line-height:0;font-size:0; padding:0 0 0;margin-top:40px;clear:both;}
.pagination a {display: inline-block; width: 30px;height: 30px;border:1px solid #e3e3e3;border-radius:100%;background: #fff;line-height: 28px;font-size:16px;white-space:nowrap;vertical-align: top;text-align: center;color:#6d6c6c;margin:0 2px;}
.pagination .num{display: inline-block;margin:0 2px;position:relative;}
.pagination .control:hover{border-color: #1a2e46;background-color:#fff;}
.pagination .control:hover:after,
.pagination .control:hover:before{border-color: #1a2e46;}
.pagination .num:hover,
.pagination .num.on {border-color: #1a2e46;color:#fff;background-color:#1a2e46;}
.pagination .control{}
.pagination .first, .pagination .prev, .pagination .next, .pagination .last {overflow: hidden;border:1px solid #d9d9d9;font-size: 0;color:#fff;line-height: 0;}
.pagination .first:after, .pagination .prev:after, .pagination .next:after, .pagination .last:after {display: inline-block;content: '';margin:10px 0 0 0;width: 6px;height: 6px;border-bottom: 1px solid #000;border-left: 1px solid #000;}
.pagination .first:before, .pagination .last:before {display: inline-block;content: '';margin:10px 0 0 0;width: 6px;height: 6px;border-bottom: 1px solid #000;border-left: 1px solid #000;}
.pagination .first:after, .pagination .prev:after {transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.pagination .next:after, .pagination .last:after {transform:rotate(-135deg);-ms-transform:rotate(-135deg);-webkit-transform:rotate(-135deg);}
.pagination .first:before {transform:rotate(45deg);-ms-transform:rotate(45deg);-webkit-transform:rotate(45deg);}
.pagination .last:before {transform:rotate(-135deg);-ms-transform:rotate(-135deg);-webkit-transform:rotate(-135deg);}

.pagination .prev:after{}
.pagination .first:before{}

.pagination .next:after{position:relative;left:-2px;}
.pagination .last:after{}

.pagination .first {}
.pagination .prev {margin-right: 15px;background-position: -34px 0;}
.pagination .next {margin-left: 15px;background-position: -68px 0;}
.pagination .last {background-position: -102px 0;}

.pagination .prev:after{margin-left: 3px}
.pagination .first:before{margin-left: 4px}
.pagination .first:after{margin-left: -3px}

.pagination .next:after{margin-right: 0px}
.pagination .last:before{margin-right: -3px}
.pagination .last:after{margin-right: 3px}

.prevnext_list_w{margin-top:80px;border-bottom:1px solid #d9d9d9;}
.prevnext_list{}
.pnt_low{border-top:1px solid #d9d9d9;padding:15px 30px;}
.pnt_low:last-of-type{}
.pnt_tb{display:table;width:100%;table-layout:fixed;}
.pnt_td{display:table-cell;vertical-align: middle;font-size:0;line-height:0;}
.pnt_td.pnt01{width:100px;position:relative;}
.pnt_td.pnt01:after{display:block;content:'';width:1px;background:#d9d9d9;height:15px;position:absolute;top:50%;right:17px;margin-top:-7px;}
.pnt_td.pnt02{padding-top:2px;}
.pnt_lab{font-size:14px;color:#323232;line-height:1;position:relative;padding-left:20px;font-weight:700;position:relative;}
.pnt_lab:before{display:block;content:'';
	border-right:1px solid #313131;border-bottom:1px solid #313131;width:7px;height:7px;position:absolute;top:6px;left:0;
	transform: translateZ(0);-webkit-transform: translateZ(0);-ms-transform: translateZ(0);-moz-transform: translateZ(0);
	-webkit-transform:rotate(225deg);transform:rotate(225deg);-moz-transform:rotate(225deg);-ms-transform:rotate(225deg);
}
.pnt_lab.type2{}
.pnt_lab.type2:before{
	-webkit-transform:rotate(45deg);transform:rotate(45deg);-moz-transform:rotate(45deg);-ms-transform:rotate(45deg);top:1px;
}
.pnt_ellipsis{display:inline-block; box-sizing:border-box; position:relative;height:19px; font-size:14px;line-height:1.2; white-space: nowrap; text-overflow: ellipsis;overflow:hidden;position:relative; max-width:100%;}
.layer_box .pagination{margin-top:30px;}
@media (max-width: 1023px) {
    .paging_layer_right{top:-1px;}
}
@media (max-width: 767px) {
	.prevnext_list_w{font-size:14px;}
	.pnt_low{padding:10px 15px;}
	
	.pagination{margin:20px 0 0;padding:0}

	.pagination a {width: 28px;height: 28px;font-size:13px;line-height: 28px;margin:0;margin:0;}
	.pagination .control,
	.pagination .num{margin:0 1px;}
	.pagination .first:after, .pagination .first:before, .pagination .prev:after, .pagination .next:after, .pagination .last:after, .pagination .last:before {margin-top: 10px;}
	.pagination .first {margin: 0 1px 0 0;}
	.pagination .prev {margin: 0 4px 0 0;}
	.pagination .next {margin:0 1px 0 4px;}
	.pagination .last {margin-left: 0;}
    .pagination .first:before{margin-left:4px}
    .pagination .next:after{left:-1px;}
    .pagination .prev:after{margin-left:4px;}
    .paging_layer_right{position:static;text-align:center;margin-top:30px;}
    .layer_cont .pagination .control,
	.layer_cont .pagination .num{margin:0 1px;}
    .layer_cont .pagination .prev {margin: 0 3px 0 0;}
	.layer_cont .pagination .next {margin:0 1px 0 3px;}
    .layer_cont .pagination{margin-left:-15px;margin-right:-15px;}
    
}
@media (max-width: 359px) {
	

	.pagination a {width: 25px;height: 25px;font-size:12px;line-height: 25px;}
	.pagination .num{margin:0 1px;}
	.pagination .first:after, .pagination .first:before, .pagination .prev:after, .pagination .next:after, .pagination .last:after, .pagination .last:before {margin-top:9px;}
	.pagination .first {margin: 0 1px 0 0;}
	.pagination .prev {margin: 0 3px 0 1px;}
	.pagination .next {margin:0 1px 0 3px;}
	.pagination .last {margin-left: 0;}

    .layer_cont .pagination .control,
	.layer_cont .pagination .num{margin:0;}
    .layer_cont .pagination .prev {margin: 0;}
	.layer_cont .pagination .next {margin:0;}
    
}


@media (max-width: 319px) {
	.pagination{margin:20px 0 0;padding:0}
	.pagination a {width: 22px;height: 22px;font-size:11px;line-height: 22px;}
	.pagination .first:after, .pagination .first:before, .pagination .prev:after, .pagination .next:after, .pagination .last:after, .pagination .last:before {margin-top: 8px;}
}
